@font-face {
    font-family: ChickenSoup;
    src: url('../font/ChickenSoup.otf');
}

html, body {	
    margin: 0;   
    padding: 0;
    height: 100%;
}

body {
    width: 100%;
    display: table;
    position: fixed;
    overflow: hidden;
    user-select: none;
    text-align: center;
    background-image: url("../médias/vieux_papier.jpg");
}

footer {
    height: 100px;
    display: table-row;
}

p { 
    font-size: 200%;
    margin-left: 5%;
    margin-right: 5%;
    font-family: ChickenSoup;
}

input {
    width: 89%;
    margin: 5%;
}
